@namespace MapBoxBlazor
@inject IJSRuntime JSRuntime;

@inherits BaseMapBoxView

<div id='map'>

</div>
@code {
    //protected override void OnAfterRender(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        //           EventsJson = System.IO.File.ReadAllText(@"D:\storage\JSON\eventsjson.txt", System.Text.Encoding.Default);
    //        //           JSRuntime.InvokeAsync<object>("refreshEvents", EventsJson);//.ConfigureAwait(false);
    //        JSRuntime.InvokeVoidAsync("alertMsg","123");
    //        // StartTimer();

    //    }
    //}
}
